.text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 300px;
    height: 100px;
}

.container {
    margin: 10px;
    width: 150px;
    height: 150px;
    line-height: 115px;
    text-align: center;
    box-shadow: #000 2px 2px 2px 2px;
}

.resize_fit_center {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

#info {
    font-family: "Lucida Console";
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #cacaca;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

#divElement {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    margin-bottom: 0px;
    width: 150px;
    height: 134.08px;
}

.aboutMeButton {
    border: 1px solid #292929;
    font-size: 7px;
    padding: 1px;
    border-radius: 0px;
    font-family: "Lucida Console";
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #cacaca;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #151515;
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top: -8px;
    margin-left: -127px;
    width: 100px;
    height: 21px;
    box-shadow: #000 2px 2px 2px 2px;
    cursor: pointer;
}

.aboutMeButton:hover {
    background: #7e7e7e 
}

.styles_socialMedia {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-box-align: center;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 30px;
    margin-left: -100px;
    width: 300px;
    height: 100px;
}

.styles_socialName {
    margin-left: 50px;
}

.styles_projectsPages {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-box-align: center;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: 180px;
    width: 400px;
    height: 100%;
}

.project_Button {
    border: 1px solid #292929;
    width: 300px;
    margin-top: 28px;
    background-color: #151515;
    font-family: "Lucida Console";
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #cacaca;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #151515;
    cursor: pointer;
    top: 100%;
    left: 100%;
    width: 300px;
    height: 21px;
    box-shadow: #000 2px 2px 2px 2px;
    cursor: pointer;
}

